---
title: Péter Vida - Resume
phone-type: personal
email-type: personal
---
{% assign resume = site.data.resume %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/resume/resume-style.css">
  </head>
  <body>
    <header>
      <img src="/assets/resume/image.jpeg" />
      <div class="name">
        <h1>{{ resume.name }}</h1>
        <h2>{{ resume.profession }}</h2>
      </div>
      <div class="contact">
        {% assign contact = resume.contact %}
        <div class="contact-item">
          <span class="key">a:</span>
          {% assign address_parts = contact.address | split: ", " %}
          <span class="value">
            {% for a in address_parts %}
              <span>{{ a }}</span>
            {% endfor %}
            <!-- {{ contact.address }} -->
          </span>
        </div>
        <div class="contact-item">
          <span class="key">p:</span>
          <span class="value">{{ contact.phone[page.phone-type] }}</span>
        </div>
        <div class="contact-item">
          <span class="key">e:</span>
          {% assign mail = contact.email[page.email-type] %}
          <span class="value"><a href="mailto:{{ mail }}">{{ mail }}</a></span>
        </div>
        {% for social in contact.socials %}
        <div class="contact-item">
          <span class="key">{{ social.display }}</span>
          <span class="value"><a href="{{social.site}}{{social.user}}">{{social.user}}</a></span>
        </div>
        {% endfor %}
      </div>
    </header>
    <section id="experience">
      <header>Work Experience</header>
      <div class="content">
        {% for job in resume.jobs %}
        <div class="content-item">
          <div class="category">{{ job.name }}</div>
          <div class="timeline">
            {% for pos in job.positions %}
            <div class="timeline-item">
              <span class="date">{{ pos.date }}</span>
              <span class="title">{{ pos.title }}</span>
            </div>
            {% endfor %}
          </div>
          <div class="description">{{ job.desc }}</div>
        </div>
        {% endfor %}
      </div>
    </section>
    <section id="education">
      <header>Education</header>
      <div class="content">
        {% for edu in resume.education %}
        <div class="content-item">
          <div class="category">{{ edu.school }}</div>
          <div class="timeline timeline-item">
              <span class="date">{{ edu.date }}</span>
              <span class="title">{{ edu.degree }}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    <section id="projects">
      <header>Personal Projects</header>
      <div class="content">
        {% for project in resume.projects %}
        <div class="content-item">
          <div class="category">{{ project.name }}</div>
          <div class="repo"><a href="{{ project.repo }}">{{ project.repo }}</a></div>
          <div class="description">
            <div>{{ project.desc }}</div>
            {% for t in project.tech %}
            <span class="tech">{{ t }}</span>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    <section id="key-skills" class="skills">
      <header>Skills</header>
      <div class="content">
        {% for s in resume.skills %}
        <div class="list-item
                    skill
                    {% if s != resume.skills.last %}withsep{% endif %}">
          <div class="name">
            {{ s.skill }} 
          </div>
          <div class="fig">
            {% assign max_level = resume.skills | map: "level" | sort_natural | last | plus: 0 %}
            {% for i in (1..max_level) %}
              {% assign level = s.level | plus: 0 %}
              <div class={% if level >= i %} "fill"
                         {% else %} "nofill" {% endif %}></div>
            {% endfor %}
          </div>
          {% if s.years %}
          <div class="desc">
            {{ s.years }}
          </div>
          {% endif %}
          <!-- ({{ s.level }}) -->
        </div> 
        {% endfor %}
      </div>
    </section>
    <section id="languages" class="skills">
      <header>Languages</header>
      <div class="content">
        {% for l in resume.languages %}
        <div class="list-item
                    lang
                    {% if l != resume.languages.last %}withsep{% endif %}">
          <div class="name">
            {{ l.lang }} 
          </div>
          {% assign level = l.level | split: ", " %}
          <div class="desc">
            {{ level | first}}
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </body>
</html>
