<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Péter Vida - Resume</title>
  </head>
  <body>
    <header>
      <img src="/assets/resume/image.jpeg" />
      <div class="name">
        <h1>Péter Vida</h1>
        <h2>software developer</h2>
      </div>
      <div class="contact">
        <div class="contact-item">
          <span class="icon">📞</span>
          <span class="value"
            ><a href="tel:+36-20-291-4959">+36 20 291 4959</a></span
          >
        </div>

        <div class="contact-item">
          <span class="icon">✉️</span>
          <span class="value"
            ><a href="mailto:mail@petii.dev">mail@petii.dev</a></span
          >
        </div>

        <div class="contact-item">
          <span class="icon"
            ><img
              class="icon"
              src="/assets/resume/LinkedIn-Logos/LI-In-Bug.png"
            /></span
          >
          <span class="value"
            ><a href="https://www.linkedin.com/in/petii">/in/petii</a></span
          >
        </div>

        <div class="contact-item">
          <span class="icon"
            ><img
              class="icon"
              src="/assets/resume/github-mark/github-mark.svg"
            /></span
          >
          <span class="value"
            ><a href="https://github.com/petii">/petii</a></span
          >
        </div>
      </div>
    </header>
    <section id="experience">
      <h1>work experience</h1>
      <div class="content">
        <div class="content-item">
          <div class="category">Tulip Interfaces</div>
          <div class="description-wrap">
            <div class="timeline">
              <div class="timeline-item">
                <span class="date">Nov 2021 - Present</span>
                <span class="title">Software Engineer</span>
              </div>
            </div>
            <div class="description">
              <p>
                Joined the freshly formed Budapest team. Immediately found
                myself as a web developer helping to push a project across the
                finish line. Then the team took ownership of an abandoned part
                of the product, where the experience of working with legacy
                systems became helpful. Slowly transitioned away from front-end
                to work on topics related to runtime data persistence.
              </p>

              <span class="tech">React</span>

              <span class="tech">Node</span>

              <span class="tech">TypeScript</span>

              <span class="tech">Go</span>

              <span class="tech">Docker</span>

              <span class="tech">Kubernetes</span>

              <span class="tech">PostgreSQL</span>

              <span class="tech">Mongo</span>
            </div>
          </div>
        </div>

        <div class="content-item">
          <div class="category">Atos > Everbridge</div>
          <div class="description-wrap">
            <div class="timeline">
              <div class="timeline-item">
                <span class="date">March 2019 - Oct 2021</span>
                <span class="title">Software Engineer</span>
              </div>

              <div class="timeline-item">
                <span class="date">May 2018 - March 2019</span>
                <span class="title">Software Developer Intern</span>
              </div>
            </div>
            <div class="description">
              <p>
                Working on OpenScape Xpert Client (mission critical telco
                solution). Started as an intern while finishing up university
                then joined full-time. Provided plenty of opportunities to grow
                both as a developer and as a person working in IT. <br /> As a developer
                deepening my knowledge of C++14, getting experience with legacy codebases,
                distributed solutions, CI pipelines, automated testing, linux development.
                <br /> As a person, got to see the importance of clear communication,
                effective planning and more of multi-national company culture.
              </p>

              <span class="tech">C++</span>

              <span class="tech">Qt</span>

              <span class="tech">CMake</span>

              <span class="tech">Java</span>

              <span class="tech">Jenkins</span>
            </div>
          </div>
        </div>

        <div class="content-item">
          <div class="category">Nokia</div>
          <div class="description-wrap">
            <div class="timeline">
              <div class="timeline-item">
                <span class="date">July 2017 - Jan 2018</span>
                <span class="title">Co-operative Student, R&D Engineer</span>
              </div>
            </div>
            <div class="description">
              <p>
                Joined a team of 3 other interns on a new project that set out
                to automate the company's internal processes. With no technical
                leadership and arbitrary restrictions due to the intern status,
                it was a bit chaotic and hacky at times but we managed to prove
                the value of the project and got internal funding.
              </p>

              <span class="tech">Groovy</span>

              <span class="tech">Javascript</span>

              <span class="tech">HTML</span>

              <span class="tech">Jira/Confluence Server</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="education">
      <h1>education</h1>
      <div class="content">
        <div class="content-item">
          <div class="category">Eötvös Lóránd University</div>
          <div class="description-wrap">
            <div class="timeline timeline-item">
              <span class="date">Sept 2015 - Jan 2019</span>
              <span class="title">Computer Science BSc</span>
            </div>
            <div class="description"></div>
          </div>
        </div>
      </div>
    </section>
    <section id="projects">
      <h1>personal projects</h1>
      <div class="content">
        <div class="content-item">
          <div class="category">Cuddly Carnival</div>
          <div class="description-wrap">
            <div class="repo tech-wrap">
              <a href="https://github.com/petii/cuddly-carnival"
                >https://github.com/petii/cuddly-carnival</a
              >

              <span class="tech">Flutter</span>

              <span class="tech">Dart</span>
            </div>
            <div class="repo"></div>
            <div class="description">
              <p>
                After cutting facebook usage out of my life for the most part I
                realized missing out on a number of events. The idea of a light
                mobile app that can browse events and synchronize them into the
                calendar came up but unfortunately before finishing the project
                the Graph API changed and did not return event data anymore.
              </p>
            </div>
          </div>
        </div>

        <div class="content-item">
          <div class="category">petii.github.io</div>
          <div class="description-wrap">
            <div class="repo tech-wrap">
              <a href="https://github.com/petii/petii.github.io"
                >https://github.com/petii/petii.github.io</a
              >

              <span class="tech">HTML</span>

              <span class="tech">Markdown</span>

              <span class="tech">CSS</span>

              <span class="tech">Jekyll</span>

              <span class="tech">Liquid</span>
            </div>
            <div class="repo"></div>
            <div class="description">
              <p>
                Portfolio website in the making. <a
                  href="https://petii.github.io/resume"
                  >Also houses a live version of this document.</a>
              </p>
            </div>
          </div>
        </div>

        <div class="content-item">
          <div class="category">ppylttry</div>
          <div class="description-wrap">
            <div class="repo tech-wrap">
              <a href="https://github.com/petii/ppylttry"
                >https://github.com/petii/ppylttry</a
              >

              <span class="tech">Python</span>

              <span class="tech">PyTorch</span>
            </div>
            <div class="repo"></div>
            <div class="description">
              <p>
                Small learning project for ML and neural networks with the goal
                to guess lottery numbers or make pretty images, whichever comes
                first.
              </p>
            </div>
          </div>
        </div>

        <div class="content-item">
          <div class="category">Yet Another Retro Regulator</div>
          <div class="description-wrap">
            <div class="repo tech-wrap">
              <a href="https://github.com/petii/yarr"
                >https://github.com/petii/yarr</a
              >

              <span class="tech">C#</span>

              <span class="tech">ASP.Net Core</span>

              <span class="tech">TypeScript</span>

              <span class="tech">Angular</span>
            </div>
            <div class="repo"></div>
            <div class="description">
              <p>
                When lockdown hit we found ourselves struggling a bit with
                retrospective meetings. As a learning project before jumping
                onto extending our internal test report server I explored web
                development which to my surprise has come a long way in the 10+
                years I haven't looked at it.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

<style>
  :root {
    --accent-color: #2f4c39;
  }

  h1,
  h2,
  p {
    margin: 0;
    padding: 0;
  }

  html {
    background-color: whitesmoke;
  }

  body {
    border: 1px solid lavender;
    background-color: white;
    margin: 1cm auto;
    padding: 1cm;
    max-width: 21cm;
    font-family: sans-serif;
    text-align: justify;
  }

  @media print {
    html {
      background-color: white;
    }

    body {
      border: none;
      margin: 0cm 1.2cm;
      padding: none;
    }

    section {
      break-inside: avoid;
    }

    section > h1 {
      break-after: avoid;
    }

    .content-item {
      break-inside: avoid;
    }
  }

  body > header {
    display: grid;
    grid-template-areas: "image name contact";
    grid-template-columns: auto 4fr 3fr;
    margin-bottom: 1em;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }

  .repo > a::before {
    content: "[";
  }

  .repo > a::after {
    content: "]";
  }

  header > img {
    grid-area: image;
    border-radius: 50%;
    max-height: 120px;
  }

  header > .name {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
  }

  header > .name > h1 {
    color: var(--accent-color);
  }

  header > .contact {
    grid-area: contact;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.9em;
  }

  .contact > .contact-item {
    display: grid;
    grid-template-areas: "icon value";
    grid-template-columns: 1fr 10fr;
    grid-column-gap: 0.2em;
  }

  .contact-item > .icon {
    grid-area: icon;
    text-align: center;
  }

  .contact-item > .icon img.icon {
    vertical-align: bottom;
    max-height: 0.9lh;
  }

  .contact-item > .value {
    grid-area: value;
  }

  .value > span {
    display: inline-block;
  }

  section {
    display: grid;
    grid-template-areas: "category" "content";
    margin-top: 1em;
  }

  section > h1 {
    grid-area: category;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6em;
    font-weight: bold;
    color: var(--accent-color);
  }

  section > h1::after {
    content: "";
    margin: 0.7em 1em 0.3em 1em;
    padding: 0;
    max-height: 0.1em;
    flex-grow: 1;
    border-bottom: thin solid var(--accent-color);
  }

  section > .content {
    grid-area: content;
  }

  .content-item {
    display: grid;
    grid-template-areas: "category  description";
    grid-template-columns: 1fr 4fr;
    margin-top: 0.8em;
  }

  .category {
    grid-area: category;
    font-size: 1.1em;
    text-align: left;
  }

  .description-wrap {
    grid-area: description;
    display: flex;
    flex-direction: column;
  }

  .description {
    padding-top: 0.3em;
  }

  .description > p {
    padding-bottom: 0.2em;
  }

  .timeline {
    font-style: italic;
  }

  .timeline,
  .repo {
    grid-area: timeline;
    font-size: 0.9em;
  }

  .timeline-item {
    display: grid;
    grid-template-areas: "date title";
    grid-template-columns: 1fr 2fr;
  }

  .timeline-item > .date {
    grid-area: date;
  }

  .timeline-item > .title {
    grid-area: title;
  }

  .tech-wrap {
    display: flex;
    gap: 0.2em;
    flex-wrap: wrap;
  }

  .tech {
    max-height: fit-content;
    margin-top: auto;
    font-size: 0.9em;
    padding: 0.1em 0.5em;
    border-radius: 0.8em;
    background-color: var(--accent-color);
    color: white;
  }

  section.skills {
    display: grid;
    grid-template-areas: "category content";
    grid-template-columns: 2fr 5fr;
  }

  .skills > .content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.4em;
  }

  .list-item {
    display: grid;
    grid-template-areas: "name fig  sep" "desc desc sep";
  }

  .list-item > .name {
    grid-area: name;
  }

  .list-item > .fig {
    grid-area: fig;
    padding-left: 0.5em;
  }

  .list-item > .fig > div {
    display: inline-block;
    margin: 0.4em -0.05em 0em -0.05em;
    padding: 0.3em 0.2em;
    border-radius: 0.2em;
    border: thin solid var(--accent-color);
  }

  .list-item > .fig > div.fill {
    background-color: var(--accent-color);
  }

  .list-item > .desc {
    grid-area: desc;
    text-align: right;
    color: var(--accent-color);
  }

  .list-item.withsep::after {
    content: "";
    grid-area: sep;
    padding: 0.3em 0.1em;
    margin: 0.4em 0.3em 0.4em 0.1em;
    border-right: thin solid lightgray;
  }
</style>
