---
---
:root {
  --accent-color: #568563;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: whitesmoke;
}

body {
  border: 1px solid lavender;
  background-color: white;

  margin: 1cm auto;
  padding: 1cm;
  
  max-width: 21cm;
  max-height: 29.7cm;

  font: 1em system-ui;

  text-align: justify;
}

body > header {
  display: grid;

  grid-template-areas: "image name contact";
  grid-template-columns: auto 4fr 3fr;

  margin-bottom: 1em;
}
header > img {
  grid-area: image;
  border-radius: 50%;
  max-height: 120px;
}
header > .name {
  grid-area: name;

  margin: 1em;
}
header > .name > h1 {
  color: var(--accent-color);
}
header > .contact {
  grid-area: contact;
}
.contact > .contact-item {
  display: grid;
  grid-template-areas: "key value";
  grid-template-columns: 1fr 10fr;
  grid-column-gap: 0.2em;
}
.contact-item > .key {
  grid-area: key;

  text-align: right;
}
.contact-item > .value {
  grid-area: value;
}

section {
  display: grid;
  grid-template-areas: 
    "category"
    "content";
  margin-top: 1em;
}
section > header {
  grid-area: category;

  display: flex;
  flex-wrap: wrap;
  font-size: 1.6em;
  font-weight: bold;
  color: var(--accent-color);
}
section > header::after {
  content: "";
  margin: 0.7em 1em 0.3em 1em;
  padding: 0;
  max-height: 0.1em;
  // min-width: max;
  flex-grow: 1;
  border-bottom: thin solid var(--accent-color);
}
section > .content {
  grid-area: content;
}

.content-item {
  display: grid;

  grid-template-areas: 
    "category  timeline"
    "category  description";
  grid-template-columns: 2fr 5fr;

  margin-top: 0.4em;
}
.category {
  grid-area: category;

  font-size: 1.2em;
  text-align: left;
}
.description {
  grid-area: description;

  margin-top: 0.2em;
}
.timeline,
.repo {
  grid-area: timeline;

  margin-top: 0.3em;
  
  font-size: 0.9em;
}

.timeline-item {
  display: grid;

  grid-template-areas: "date title";
  grid-template-columns: 1fr 2fr;
  
}
.timeline-item > .date {
  grid-area: date;
}
.timeline-item > .title {
  grid-area: title;
}

.tech {
  font-size: 0.6em;
  margin: 0.1em;
  padding: 0.3em 0.4em 0.4em 0.3em;
  border-radius: 0.5em;
  background-color: var(--accent-color);
  color: white;
}

section.skills {
  display: grid;
  grid-template-areas: "category content";
  grid-template-columns: 2fr 5fr;
}

.skills > .content {
  display: flex;
  flex-wrap: wrap;

  margin-top: 0.4em;
}

.list-item {
  // padding: 0.2em;

  display: grid;
  grid-template-areas: "name fig sep"
                       "desc fig sep";
}
.list-item > .name {
  grid-area: name;
}
.list-item > .fig {
  grid-area: fig;
  padding-left: 0.5em;
}
.list-item > .fig > div {
  display: inline-block;
  margin: 0.4em -0.05em 0em -0.05em;
  padding: 0.3em 0.2em;
  border-radius: 0.2em;
  border: thin solid var(--accent-color);
}
.list-item > .fig > div.fill {
  background-color: var(--accent-color);
}
.list-item > .desc {
  grid-area: desc;
  text-align: right;
  color: var(--accent-color);
}
.list-item.withsep::after {
  content: "";
  grid-area: sep;
  padding: 0.3em 0.1em;
  margin: 0.4em 0.3em 0.4em 0.1em;
  // border-radius: 50%;
  // height: inherit;
  border-right: thin solid lightgray;
}