---
---
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

body {
  border: 1px solid lavender;
  background-color: white;

  margin: 1cm auto;
  padding: 1cm;
  
  max-width: 21cm;
  max-height: 29.7cm;
}

header {
  display: grid;

  grid-template-areas: "image name contact";
  grid-template-columns: auto 2fr 1fr;
}
header > .image {
  grid-area: image;
}
header > .name {
  grid-area: name;
}
header > .contact {
  grid-area: contact;
}

section {
  display: grid;
  grid-template-areas: 
    "category"
    "content";
}
section > header {
  grid-area: category
}
section > .content {
  grid-area: content;
}

.content-item {
  display: grid;

  grid-template-areas: 
    "category  timeline"
    "category  description";
  grid-template-columns: 2fr 6fr;
}
.category {
  grid-area: category;
}
.description {
  grid-area: description;
}
.timeline {
  grid-area: timeline;

}

.timeline-item {
  display: grid;

  grid-template-areas: "date title";
  grid-template-columns: 1fr 3fr;
}
.timeline-item > .date {
  grid-area: date;
}
.timeline-item > .title {
  grid-area: title;
}
ol.timeline {
  list-style-type: none;
}

section.skills {
  display: grid;
  grid-template-areas: "category content";
  grid-template-columns: 2fr 6fr;
}

.skills > .content {
  display: flex;
  flex-wrap: wrap;
}
