---
---
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: whitesmoke;
}

body {
  border: 1px solid lavender;
  background-color: white;

  margin: 1cm auto;
  padding: 1cm;
  
  max-width: 21cm;
  max-height: 29.7cm;

  font: 1em system-ui;
}

body > header {
  display: grid;

  grid-template-areas: "image name contact";
  grid-template-columns: auto 4fr 3fr;

  margin-bottom: 1em;
}
header > img {
  grid-area: image;
  border-radius: 50%;
  max-height: 120px;
}
header > .name {
  grid-area: name;

  margin: 1em;
}
header > .contact {
  grid-area: contact;
}
.contact > .contact-item {
  display: grid;
  grid-template-areas: "key value";
  grid-template-columns: 1fr 10fr;
  grid-column-gap: 0.2em;
}
.contact-item > .key {
  grid-area: key;

  text-align: right;
}
.contact-item > .value {
  grid-area: value;
}

section {
  display: grid;
  grid-template-areas: 
    "category"
    "content";
}
section > header {
  grid-area: category;

  display: flex;
  flex-wrap: wrap;
  font-size: 1.6em;
}
section > header::after {
  content: "";
  margin: 0.7em 1em 0.3em 1em;
  padding: 0;
  max-height: 0.1em;
  // min-width: max;
  flex-grow: 1;
  border-bottom: thin solid black;
}
section > .content {
  grid-area: content;
}

.content-item {
  display: grid;

  grid-template-areas: 
    "category  timeline"
    "category  description";
  grid-template-columns: 2fr 5fr;
}
.category {
  grid-area: category;

  font-size: 1.2em;
}
.description {
  grid-area: description;
}
.timeline {
  grid-area: timeline;

}

.timeline-item {
  display: grid;

  grid-template-areas: "date title";
  grid-template-columns: 1fr 2fr;
}
.timeline-item > .date {
  grid-area: date;
}
.timeline-item > .title {
  grid-area: title;
}

section.skills {
  display: grid;
  grid-template-areas: "category content";
  grid-template-columns: 2fr 5fr;
}

.skills > .content {
  display: flex;
  flex-wrap: wrap;
}
