---
import { getSortedPersonas, personaDisplay } from "../data/personaEntry";

const personas = await getSortedPersonas();

const { persona: activePersona } = Astro.params;
const { name } = Astro.props;

const activePersonaIndex = personas.findIndex(
  ({ data: { persona } }) => persona === activePersona,
);
let personaProfilePicUrlStack = personas.map(
  ({ data: { profilePicUrl } }) => profilePicUrl,
);
personaProfilePicUrlStack = [
  personaProfilePicUrlStack[activePersonaIndex],
  ...personaProfilePicUrlStack.toSpliced(activePersonaIndex, 1),
];

console.debug("[persona-switcher]", {
  activePersona,
  activePersonaIndex,
  personaProfilePicUrlStack,
  name,
});
---

<div class="hero">
  <div class="hero-content flex-row">
    <div class="stack hidden sm:grid">
      {
        personaProfilePicUrlStack.map((profilePicUrl) => (
          <img
            class={`rounded-box h-40 w-40 ${profilePicUrl == null ? "skeleton" : ""}`}
            src={profilePicUrl}
          />
        ))
      }
    </div>
    <div class="prose flex-col">
      <h1>
        hi, I'm {name}
      </h1>
      <div class="join join-vertical sm:join-horizontal container mx-auto">
        {
          personas.map(({ data: { persona } }) => (
            <a
              role="button"
              class={`join-item btn ${activePersona === persona ? "btn-active" : ""}`}
              href={`/persona/${persona}`}
            >
              {personaDisplay(persona)}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</div>
