---
import { getCollection } from "astro:content";

const personas = await getCollection('personas');

const {name,} = Astro.props;
---
<!-- <div class="hero"> -->
<div>
    hi, name's {name}. I'm a
    { personas.map(({data: {persona}}) => <button>{persona}</button>)}
</div>
